.About {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 70vh;
    display: flex;
    
}

.AboutText {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1013px) {
    .AboutText {
        width:50%;
    }
    .AboutImgContainer {
        transform: translateX(20%);
    }
  }

.AboutTitle1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.AboutTitle2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--color-primary);  
}

@media screen and (max-width: 890px) {
    .AboutTitle1 {
        font-size: 3.5rem;
    }

    .AboutTitle2  {
        font-size: 3rem;
    }

  }


.AboutPara {
    font-size: 1.3rem;
    margin: 1rem 0;
}



.AboutImgContainer {
    width:40%;
    position: relative;
    background: red;
}

  


.AboutImg {
    height: 60%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 770px) {
    .AboutImg {
        height: 50%;
    }
}

  @media screen and (max-width: 650px) {
    .AboutImgContainer {
        display: none;
    }

    .About {
        align-items: center;
        justify-content: center;
    }


  }


