.Advantage {
    height: 75vh;
    grid-column: 1 / -1;
    grid-row: 6 / 7;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AdvantageTitle {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}

.AdvantageTitle span {
    margin: 0 1rem;
}


.AdvantageTitle span:first-child {
    color: var(--color-primary);
}

.Advantage span:nth-child(2) {
    color: var(--color-white);
}

.AdvantagePara {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    color: var(--color-white);
}


.AdvantageContent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    grid-template-rows: repeat(auto-fit, 25rem);
    grid-auto-rows: 25rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 1135px) {
    .AdvantageContent {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-gap: 2rem;
    }

    .Advantage {
        height: 85vh;

    }
  }

 

.AdvantageContentItem {
    width: 25rem;
    height: 24rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 490px) {
    .AdvantageContentItem  {
        width: 20rem;
        height: 19rem;
    }
  

  }

.AdvantageContentItem p {
    text-align: center;
    margin-top: 2rem;
}

.AdvantageIcon {
    background: var(--color-primary);
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    fill: var(--color-white);
}

@media screen and (max-width: 490px) {
    .AdvantageIcon {
        width: 5rem;
        height: 5rem;
    }

    .AdvantageIcon div svg {
        width: 2rem;
        object-fit: cover;
    }
}

.AdvantageContentItem div {
    font-size: 1.3rem;
}