.PropertiesList {
    display: grid;
    grid-template-columns: repeat(auto-fit,32rem);
    grid-template-rows: repeat(auto-fit, 45rem);
    grid-auto-rows: 45rem;
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;
    padding: 4rem 0;
    justify-content: center;


    
}