.PropertiesList {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    grid-auto-rows: max-content;
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;
    padding: 4rem 0;
    justify-content: center;

    
}