.Agent {
    height: 100vh;
    width: 100%;
    grid-column: 2/ 3;
    grid-row: 7 / 8;
    padding: 5rem 0;
    margin: 3rem 0;
}


.AgentTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
}

.AgentTitle div span {
    margin: 0 .5rem;
}

.AgentTitle div span:first-child {
    color: var(--color-secondary);
}

.AgentTitle div span:last-child {
    color: var(--color-primary);
}

.AgentTitleLine {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.AgentTitleLine hr {
    border: none;
}

.AgentTitleLine hr:first-child, .AgentTitleLine hr:last-child{
    height: 1px;
    background: var(--color-primary);
    width: 5rem;
}

.AgentTitleLine hr:nth-child(2) {
    height: .6rem;
    background: var(--color-primary);
    width: 6rem;
}

.AgentTitlePara {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
}



.Realtor {
    display: flex;
    align-items: center;

    margin-top: 9rem;
}

@media screen and (max-width: 1012px) {
    .Realtor {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-gap: 2rem;
      align-content: center;
      justify-content: center;
    }
  }

.RealtorContent {
    margin: 0 3rem;
    width: 26rem;
    
}

.RealtorImg {
    width: 100%;
    object-fit: cover;  
}

@media screen and (max-width: 1012px) {
    .RealtorImg {
      width: 60%;
    }

    .RealtorImgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.RealtorDetails {
    width: 100%;
    height: 8rem;
    background: var(--color-secondary);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
    border-radius: 3px;  
}

.RealtorDetails div:first-child {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 1;

}

.RealtorDetails div:last-child {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-white);

}

@media screen and (max-width: 540px) {
    .Realtor{
        grid-gap: 0;
    }

    .RealtorContent {
        margin: 0;
    }

    .Agent {
        height: 90vh;
    }

    .AgentTitle {
        font-size: 2.5rem;
    }

    .RealtorDetails {
        width: 80%;
        height: 6rem;
        transform: translateY(-10%) translateX(10%);
    }

    .RealtorDetails div:first-child {
        font-size: 1.8rem;
    }

    .RealtorDetails div:last-child {
        font-size: .7rem;
    }

}

@media screen and (max-width: 470px) {


    .RealtorDetails div:first-child {
        font-size: 1.8rem;
    }

    .RealtorDetails div:last-child {
        font-size: .7rem;
    }

}


@media screen and (max-width: 459px) {
    .Realtor {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .Agent {
        height: 100%;
    }
  }