.FormGroup {
    width: 25%;
    margin: 0 2rem;
    
}

.InputField {
    /* width: 17rem;*/
     width: 11rem;
     height: 3.7rem;
     border-radius: 1px;
     border: none;
     padding-left: .5rem;
     outline: none;
 }
 
 .InputField:focus {
     border: 2px solid var(--color-primary);
 
 }
 
 .Input {
   /*  height: 100%;*/
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 2.5rem;
     margin: .6rem;   
 }
 
 .Input label {
     font-size: 1.2rem;
     color: var(--color-white);   
 }


 @media screen and (max-width: 856px) {
    .FormGroup {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: .7rem 0;
    }

    .Input {
        margin: 1rem 3rem;
        width: 35%;
        padding: 0 1.5rem;
    }

    .InputField {
        height: 3rem;
        width: 12rem;
    }
    
}

@media screen and (max-width: 540px) {
    .FormGroup {
        flex-direction: column;
        align-items: center;
        
    }

    .Input {
        width: 60%;
    }

    .InputField {
        width: 20rem;
    }

    
}

@media screen and (max-width: 437px) {

    .Input {
        width: 80%;
    }

    
}

