.Layout  {
    display: grid;
    grid-template-columns: 1fr 87vw 1fr;
    grid-template-rows: 11rem max-content calc(100vh - 11rem);
    width: 100vw;   

    overflow-X: hidden;

}

@media screen and (max-width: 600px) {
    .Layout{
        grid-template-rows: 11rem max-content calc(80vh - 11rem);
    }

}