.Home {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    width: 100vw;   
}


.About {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 70vh;
    display: flex;
    margin-top: 5rem;
}

.AboutText {
    width:60%;
}

.AboutTitleContainer {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4rem;
}

.AboutImgContainer {
    width:40%;
    position: relative;
}

.AboutTitle1 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.AboutTitle2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.AboutSubTitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.AboutImg {
    height: 60%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.AboutPara {
    padding-left: 4rem;
    font-size: 1.3rem;
    margin: 2rem 0;
}

.Add {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    height: 25rem;  
    display: flex;
    justify-content: space-around;
    position: relative;
}

.AddInfo1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 34rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.AddInfo2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.AddInfo1 div:first-child {
    color: var(--color-secondary);
    font-size: 2.5rem;
    transform: translateX(35%);
    
}

.AddInfo1 div:nth-child(2) {
    color: var(--color-white);
    font-size: 3rem;
}

.AddInfo2 div:first-child {
    color: var(--color-white);
    font-size: 3rem;
}

.AddInfo2 div:nth-child(2) {
    color: var(--color-primary);
    font-size: 3rem;
    letter-spacing: 2px;
}

.Properties {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.PropertiesIntro {
    transform: translateX(8.5rem);
    margin-bottom: 6rem;
}


.PropertiesIntroTitle {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    margin: 2rem 1rem;
    width: 38%;
    font-weight: 600;
    
}

.PropertiesIntroTitle div:first-child {
    color: var(--color-secondary);
}

.PropertiesIntroTitle div:first-child {
    color: var(--color-primary);
}

.PropertiesTitleLine {
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    transform: translateY(-100%);
}

.PropertiesTitleLine hr:first-child {
    width: 5rem;
    height: 1rem;
    background: var(--color-primary);
    border: none;
}


.PropertiesTitleLine hr:nth-child(2) {
    width: 7rem;
    height: .1rem;
    background: var(--color-primary);
    border: none;
}

.PropertiesIntroPara {
    margin-left: 1.2rem;
    font-size: 1.3rem;
    width: 45%;
    line-height: 1.5;
}

.PropertiesCTA {
    align-self: center;
}

.PropertiesCTA button {
    border: none;
    padding: 1.5rem 2rem;
    outline: none;
    background: var(--color-primary);
    color: var(--color-white);
    margin-top: 3rem;
    margin-bottom: 9rem;
    cursor: pointer;

}

.Advantage {
    height: 75vh;
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AdvantageTitle {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}

.AdvantageTitle span {
    margin: 0 1rem;
}


.AdvantageTitle span:first-child {
    color: var(--color-primary);
}

.Advantage span:nth-child(2) {
    color: var(--color-white);
}

.AdvantagePara {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    color: var(--color-white);
}


.AdvantageContent{
    display: flex;
    align-items: center;
    justify-content: center;

}

.AdvantageContentItem {
    width: 25rem;
    height: 24rem;
    background: var(--color-white);
    margin: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AdvantageContentItem p {
    text-align: center;
    margin-top: 2rem;
}

.AdvantageIcon {
    background: var(--color-primary);
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    fill: var(--color-white);
}

.AdvantageContentItem div {
    font-size: 1.3rem;
}

.Agent {
    height: 100vh;
    width: 100%;
    grid-column: 2/ 3;
    grid-row: 7 / 8;
    padding: 5rem 0;
}

.AgentTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
}

.AgentTitle div span {
    margin: 0 .5rem;
}

.AgentTitle div span:first-child {
    color: var(--color-secondary);
}

.AgentTitle div span:last-child {
    color: var(--color-primary);
}

.AgentTitleLine {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.AgentTitleLine hr {
    border: none;
}

.AgentTitleLine hr:first-child, .AgentTitleLine hr:last-child{
    height: 1px;
    background: var(--color-primary);
    width: 5rem;
}

.AgentTitleLine hr:nth-child(2) {
    height: .6rem;
    background: var(--color-primary);
    width: 6rem;
}

.AgentTitlePara {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.Realtor {
    display: flex;
    align-items: center;
    margin-top: 9rem;
}

.RealtorContent {
    margin: 0 3rem;
    width: 26rem;
    
}

.RealtorImg {
    width: 100%;
    object-fit: cover;
    
}

.RealtorDetails {
    width: 100%;
    height: 8rem;
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
    border-radius: 3px;
    
}

.RealtorDetails div:first-child {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 1;

}

.RealtorDetails div:last-child {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-white);

}

.Testimonial {
    grid-column: 1/ -1;
    grid-row: 8 / 9;
    height: 80vh;
    margin-top: 6rem;
    background: var(--color-white);
}

.TestimonialIntro {
    transform: translateX(8.5rem);
    margin-bottom: 6rem;
  
}


.TestimonialIntroTitle {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    margin: 2rem 1rem;
    width: 30%;
    font-weight: 600;
    
}

.TestimonialIntroTitle div:first-child {
    color: var(--color-secondary);
}

.TestimonialIntroTitle div:first-child {
    color: var(--color-primary);
}

.TestimonialTitleLine {
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    transform: translateY(-100%);
}

.TestimonialTitleLine hr:first-child {
    width: 5rem;
    height: 1rem;
    background: var(--color-primary);
    border: none;
}


.TestimonialTitleLine hr:nth-child(2) {
    width: 7rem;
    height: .1rem;
    background: var(--color-primary);
    border: none;
}

.TestimonialIntroPara {
    margin-left: 1.2rem;
    font-size: 1.3rem;
    width: 45%;
    line-height: 1.5;
}

