.Home {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    width: 100vw;   
}


.About {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 70vh;
    display: flex;
    margin-top: 5rem;
}

.AboutText {
    width:60%;
}

.AboutTitleContainer {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4rem;
}

.AboutImgContainer {
    width:40%;
    position: relative;
}

.AboutTitle1 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.AboutTitle2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.AboutSubTitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.AboutImg {
    height: 60%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.AboutPara {
    padding-left: 4rem;
    font-size: 1.3rem;
    margin: 2rem 0;
}

.Add {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    height: 25rem;  
    display: flex;
    justify-content: space-around;
    position: relative;
}

.AddInfo1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 34rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.AddInfo2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.AddInfo1 div:first-child {
    color: var(--color-secondary);
    font-size: 2.5rem;
    transform: translateX(35%);
    
}

.AddInfo1 div:nth-child(2) {
    color: var(--color-white);
    font-size: 3rem;
}

.AddInfo2 div:first-child {
    color: var(--color-white);
    font-size: 3rem;
}

.AddInfo2 div:nth-child(2) {
    color: var(--color-primary);
    font-size: 3rem;
    letter-spacing: 2px;
}



.Properties {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

