.Footer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
}

.Trimmo {
    width: calc(100% / 3);
    background: red;
}

.RecentProperty {
    width: calc(100% / 3);
    background: green;
    margin: 0 1rem;
}

.RecentPropertyGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Img {
    width: 100%;
    object-fit: cover;  
}

.SiteMap {
    width: calc(100% / 3);
    background: yellow;
}