.TitleContainer {
    height: 5rem;
    font-size: 3rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    
    
   
}

.TitleText {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    
}

.TitleText div:first-child {
    color: var(--color-primary);
    margin-right: .8rem;
   
}

.TitleText div:last-child {
    color: var(--color-secondary);
    
}

.TitleLine {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
}


.TitleLine hr:first-child {
    width: 20%;
    height: .7rem;
    background: var(--color-primary);
    border: none;
    
   
}


.TitleLine hr:nth-child(2) {
    width: 30%;
    height: .1rem;
    background: var(--color-primary);
    border: none;

    
    
}