:root {

  /* FONT */
  --defaultFont: 'Poppins', sans-serif;

  /* COLOR */ 
  --color-white : #F9F7F6;
  --color-primary: #C69963;
  --color-secondary: #101D2C;
  --color-grey: rgb(202, 197, 197);
  


  /* SHADOW */

  --shadow: 0 1rem .5rem rgba(#080808, .9)
  
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 100%;
  overflow-X: hidden;
}


body {
  box-sizing: border-box;
  font-family: var(--defaultFont);
  width: 100%;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
}


@media screen and (max-width: 656px) {
  html {
    font-size: 50%;
  }

  
}


