.Details {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    
}

.Header {
    height: calc(100vh - 11rem);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-content: center;
    position: relative;
}

.HeaderAddress{
    color: var(--color-primary);
    padding: 1rem 2rem;
    background: var(--color-secondary);
    width: 40%;
    position: absolute;
}

@media screen and (max-width: 850px) {
    .HeaderAddress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .Header{
      display: flex;
      align-items: center;
      justify-content: center;
    }

   
}





.HeaderAddressMain {
font-size: 3.5rem;
font-weight: 600;
color: var(--color-primary);
line-height: 1.1;
margin-bottom: .6rem;
}

.HeaderAddressSub {
font-size: 1.4rem;
color: var(--color-white);

}


.Main {
    height: 80vh;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1169px) {
    .Main {
      height: 100%;
      flex-direction: column;
    }
  }


.Gallery {
    width: 60%;
    height: 80%;
    padding: 2rem 3rem;
}

.Summary {
    width: 30%;
    height: 80%;  
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

@media screen and (max-width: 1169px) {
    .Summary {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .Summary {
      width: 60%;
    }
  }

  @media screen and (max-width: 420px) {
    .Summary {
      width: 80%;
    }
  }

.SummaryDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.SummaryDetailsItem {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: .5rem 0;
    font-size: 1.2rem;
}

.SummaryDetailsItem div:first-child {
    font-weight: 800;
}

.SummaryDetailsItem div:last-child {
    font-size: 1.3rem;
}




.PropertyDetail {
    height: 50vh;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    margin-left: 8rem;   
}

@media screen and (max-width: 1169px) {
    .PropertyDetail  {
      margin-left: 3rem;
    }
}
 

.Desc {
    width: 95%;   
    margin-top: 5rem;
}

@media screen and (max-width: 875px) {
    .PropertyDetail  {
     flex-direction: column;
     height: 100%;
    }

    .Desc {
        width: 70%;
    }
}

@media screen and (max-width: 621px) {
    .Desc {
        width: 100%;
    }
  }


.PropertyDetailPara {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.FloorPlan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

@media screen and (max-width: 875px) {
    .FloorPlan   {
        margin-left: 0
    }
  }

.FloorPlanImg {
    width: 60%;
    object-fit: cover;
}

@media screen and (max-width: 1169px) {
    .FloorPlanImg  {
      width: 80%;
    }
  }



.PropertyFeatures {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-left: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

@media screen and (max-width: 1169px) {
    .PropertyFeatures   {
        margin-left: 3rem;
    }
}

 



.PropertyFeaturesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 2.5rem);
    grid-auto-rows: 3rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-gap: 5rem;
    margin-top: 3rem;
}

@media screen and (max-width: 931px) {
    .PropertyFeaturesList   {
        width: 100%
    }
  }


.PropertyFeaturesListIcon div svg{
    height: 1.3rem;
    width: 1.3rem;
    object-fit: cover;
    fill: var(--color-primary);
    margin-right: 6px;
    color: var(--color-primary);
}

.PropertyFeaturesListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 4rem;
 
}

.PropertyFeaturesListItem div:first-child {
    display: flex;
    align-items: center;
    
}




.PropertyRealtor {
    grid-row: 5 / 6;
    grid-column: 2 / 3;   
    margin-left: 8rem;
    margin-bottom: 6rem;
    margin-top: 4rem;
    height: 80%;

}

@media screen and (max-width: 1169px) {
    .PropertyRealtor {
        margin-left: 3rem;
    }
}



.PropertyRealtorContact {
    display: flex;   
    align-items: center;
    justify-content: center;
    height: 100%;

}

@media screen and (max-width: 1069px) {
    .PropertyRealtorContact {
        display: flex;   
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
    }

}

@media screen and (max-width: 816px) {
    .PropertyRealtorContact{
        height: 80vh;
    }

}





.Realtor {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}


.RealtorImg {
    width: 60%;
    object-fit: cover;
}

@media screen and (max-width: 1069px) {
    .RealtorImg{
        width: 80%;
    }

}

.RealtorDetails {
    width: 80%;
    height: 8rem;
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

@media screen and (max-width: 558px) {
    .RealtorDetails{
        width: 100%;
    }

}

@media screen and (max-width: 416px) {
    .RealtorDetails{
        width: 120%;
    }

}

.RealtorDetails div:first-child {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 1;

}

.RealtorDetails div:last-child {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-white);

}

.Form {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background: var(--color-secondary);
}

@media screen and (max-width: 1069px) {
    .Form{
        width: 80%;
    }

}

.Input {   
    align-self: center;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: .5rem 0;
}

.Input textarea {
    height: 15rem;
}

.Input label {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: .5rem;
    color: var(--color-primary);
}


.InputField {
    height: 100%;
    padding-left: .5rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    outline: none;
    border: none;
}

.InputFiedl:focus {
    border: 2px solid var(--color-primary);
}



.FormCTA {
    padding: 1rem 2rem;
    color: var(--color-white);
    background: var(--color-primary);
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: .5rem 0;
}