.Form {
    margin: 2rem;
    background: blue;
    height: 40vh;
    width: 20vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.InputField {
    width: 7rem;
}


