.Form {
    background: rgba(16, 29, 44, 0.801);
    width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;   
    grid-column: 2 / 3;
    margin-right: 10rem;
}

.Title {
    grid-row: 1 / 2;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: var(--color-primary);
    transform: translateX(3.5rem);
}
.InputField {
    width: 17rem;
    height: 3.7rem;
    border-radius: 1px;
    border: none;
    padding-left: .5rem;
    outline: none;
}

.InputField:focus {
    border: 2px solid var(--color-primary);

}

.Input {
    height: 5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;  
}

.Input label {
    font-size: 1.2rem;
    color: var(--color-white);    
}

.Search {
    background: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
    width: 17rem;
    height: 3.7rem;
    border-radius: 1px;
    margin: .5rem 0;  
    transform: translateX(5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.Search:hover {
    color: var(--color-white);
    background: var(--color-primary);
}

